.centerPage{
    margin: 0 auto;
    width: 90%;
}

.topPage{
    margin-top: 10px;
}

.featureBot{
    margin-bottom: 35px;
}

.footClass{
    text-align: center;
}

body{
    background-color: aliceblue;
}

.shipGo{
    background-color: burlywood;
}

#startBtn{
    text-align: center;
    display: none;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .gameBox{
      border: solid 2px black;
      margin-top: 10px;

  }

  .actionBox{
      height: 20em;
      width: 50em;
      border: double black 3px;
      overflow: auto;

  }

  .optionBox{
    height: 10em;
    width: 60em;
    border: double black 3px;
    margin-top: 20px;
    overflow: scroll;
  }

  .optionBut{
      margin: 5px;
  }

  .characterBox{


  }

